* {
    font-family: 'Courier Prime', monospace;
    background-color: black;
    color: white;
}

a {
    text-decoration: none;
    color: #5cb85c;
    display: inline-block;
}

ul {
    list-style-type: none;
}

.main-container {
    display: flex;
    justify-content: center;
    text-align: center;

}

.main-header {
    width: 35%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /* border-style: solid; */
    /* border-color: red; */
}

.main-h {
    display: block;
    font-size: 24px;
}

.link-h1 {
    color: #5cb85c;
}

.sidebar {
    width: 12%;
}